.logo {
  width: 45px;
  height: 36px;
  display: grid;
  grid-template-columns: repeat(5, 9px);
  grid-template-rows: repeat(4, 9px);
  gap: 0;
  position: relative;
}

.cell {
  width: 9px;
  height: 9px;
  position: relative;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.teal {
  background-color: #00cc92;
}